
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.DS_Store
src/.DS_Store
assets/.DS_Store
config/.DS_Store
public/.DS_Store
templates/.DS_Store
public/js/.DS_Store
public/css/.DS_Store
public/img/.DS_Store
public/scss/.DS_Store
public/scss/layout/.DS_Store
public/img/elements/.DS_Store
public/img/all-images/.DS_Store
public/img/all-images/hero/.DS_Store
public/.DS_Store
templates/.DS_Store
.DS_Store
public/.DS_Store
public/img/.DS_Store
public/img/all-images/.DS_Store
public/scss/.DS_Store
