<div class="portfolio-popup">
    <div class="popup-container">
        <div class="popup-content">
            <div class="popup-header">
                <h3 class="popup-title"></h3>
                <button class="popup-close-btn"><i class="fa-solid fa-times"></i></button>
            </div>
            <div class="popup-body">
                <div class="video-responsive">
                    <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
